{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error.message | replace({"Bad credentials." : "Pseudo ou mot de passe inconnus"}) }}</div>
    {% endif %}
    <h3>Connexion</h3>

    <form action="{{ path('security_login')}}" method="post">
        <div class="form-group">
            <input placeholder="Pseudo..." required id="username" name="_username" value="{{ last_username }}"
            type="text" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" required id="password" name="_password"
            type="password" class="form-control">
        </div>
        <div class="form-group">
            

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
            <button type="submit" class="btn btn-success">Connexion!</button>
        </div>
    </form>
    <a class="btn btn-light" href="{{ path('security_registration')}}" role="button">Pas encore de compte?</a>
    </br>
    </br>
    </br>
    
{% endblock %}      