{% extends 'base.html.twig' %}

{% block body %}
</br>
</br>
<a class="btn btn-secondary btn-md float-right" role="button" aria-pressed="true" href="{{path('admin_homepage')}}">Retour à l'espace admin</a>
</br>
</br>
    <h4 class="welcome">Veuillez enregistrer un nouveau candidat</h4>
</br>

    {{ form_start(form) }}
    {#{{ form_row(form.email, {'attr' : {'class' : 'form-control'}})}}#}
    {{ form_row(form.nom, {'attr' : {'class' : 'form-control'}})}}
    {{ form_row(form.prenom, {'attr' : {'class' : 'form-control'}})}}
    {{ form_row(form.username, {'label': 'Pseudo','attr' : {'class' : 'form-control'}})}}
    {#{{ form_row(form.matricule, {'attr' : {'class' : 'form-control'}})}}#}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr' : {'class' : 'form-control'}})}}
    {{ form_row(form.confirm_password, {'label': 'Confirmez votre mot de passe', 'attr' : {'placeholder' : 'répétez votre mot de passe','class' : 'form-control'}})}}
    </br>
    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}
    </br></br></br></br></br>
{% endblock %}