{% extends 'base.html.twig' %}

{% block body %}
    </br></br>
    
    <div class="text-center">
        <h4>Bienvenu dans l'interface Admin</h4>        
    </div>
    </br>
    </br>
    </br>
    <div class="text-center">
        <a class="btn btn-secondary btn-lg" role="button" aria-pressed="true" href="{{path('admin_questions')}}">Voir la liste des questions</a>
        <a class="btn btn-secondary btn-lg" role="button" aria-pressed="true" href="{{ path('security_registration')}}" role="button">Enregistrer de nouveaux candidats</a>
    </div>
    </br>
    </br>
    <h4 class="text-center">Liste des salariés</h4>
    </br>
    
    <div class="responsive-table-line">
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Supprimer</th>
                <th scope="col">Nom</th>
                <th  scope="col">Prenom</th>
                {#<th  scope="col">Matricule</th>
                <th scope="col">Email</th>#}
                <th scope="col">Pseudo</th>
                <th scope="col">Note</th>
                
            </tr>
        </thead>
        <tbody>    
        {% for salarie in salaries %}
            <tr>
                <td data-title="Supprimer" >
                <form action="{{ path('user_delete', { 'id': salarie.id }) }}" method="POST" class="delete-button-form">
                    <input name="_method" value="DELETE" type="hidden">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>                    
                </td>
                <td data-title="Nom" >
                    {{ salarie.nom }}
                </td>
                <td data-title="Prénom" >
                    {{ salarie.prenom }}
                </td>
                {#<td data-title="Matricule" >
                    {{ salarie.matricule }}
                </td>#}
                <td data-title="Pseudo" >
                    {{ salarie.username }}
                </td>               
                
                <td data-title="Note" >
                    <a href="{{ path('employe_scores', { 'idUser': salarie.id , 'firstNameUser' : salarie.prenom , 'nameUser' : salarie.nom}) }}">{{ salarie.derniereNote }}</a>
                </td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    </div>  
    </br></br></br></br> 
{% endblock %}