{% extends 'base.html.twig' %}

{% block body %}
    </br>
    <div class="text-center">
        <h4>Bienvenu dans l'interface Admin</h4>        
    </div>
    </br>
    </br>
    </br>
    <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" href="{{path('admin_questions')}}">Voir la liste des questions</a>
    <h4 class="text-center">Liste des salariés</h4>
    <div class="responsive-table-line">
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th  scope="col">Prenom</th>
                <th  scope="col">Matricule</th>
                <th scope="col">Email</th>
                <th scope="col">Derniere Note</th>
            </tr>
        </thead>
        <tbody>    
        {% for salarie in salaries %}
            <tr>
                <td data-title="Nom" >
                    {{ salarie.nom }}
                </td>
                <td data-title="Prénom" >
                    {{ salarie.prenom }}
                </td>
                <td data-title="Matricule" >
                    {{ salarie.matricule }}
                </td>
                <td data-title="Email" >
                    {{ salarie.email }}
                </td>               
                
                <td data-title="Dernière note" >
                    <a href="{{ path('employe_scores', { 'idUser': salarie.id , 'firstNameUser' : salarie.prenom , 'nameUser' : salarie.nom}) }}">{{ salarie.derniereNote }}</a>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    </div>  
    </br></br></br></br> 
{% endblock %}