{% extends 'base.html.twig' %}

{% block body %}
    </br>
    </br>
    </br>
    <div class="text-center">
        <h4>Toutes les notes du salarié {{firstName}} {{name}}</h4>        
    </div>
    </br>
    </br>
    </br>

    <a class="btn btn-secondary btn-md float-right" role="button" aria-pressed="true" href="{{path('admin_homepage')}}">Retour à l'espace admin</a>
    </br>
    </br>
    </br>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Note</th>
                                
            </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            <tr>
                <td>
                    {{ score.createdAt|date("d/m/Y à H:i:s") }}
                </td>
                <td>
                    {{ score.note }}
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table> 
    </br></br></br></br>
    </br>
{% endblock %}   