

{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    
<h3  class="center-align">Veuillez remplir ce test QCM</h3>
<br>
<br>
<section class="questions center-align">
    <form action="{{ path('traitement_qcm')}}" method="post"> 
        {% for question in questions  %}    
        <article>
            <h4>Question n° {{ loop.index }}  :  {{ question.theme}} </h4> 
            <br>       
            <div class="sujet">            
            <h5>{{ question.sujet | raw }}</h5>           
            </div>
            <br>
            {% for proposition in question.propositions %}
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" value ="{{question.id}}" name="{{proposition.id}}"
                     >
                    <label class="form-check-label" for="{{proposition.id}}">{{proposition.choix}}</label>
                </div>                   
            <br>
            {% endfor %}
        </article>       
    {% endfor %}
    <div class="form-group">
        <button type="submit" class="btn btn-success">Validez!</button>
    </div>
  </form>       
</section>
{% endblock %}

