



{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
</br></br>
    
{% if not app.user %}
     <div class="text-center">
        <h3>Merci de vous connecter</h3>
     </div>
{% else %}
<div class="text-center welcome" >
    <h4> {{ app.user.username }} veuillez remplir ce test QCM</h4>
    <p>Pour chaque question, une ou plusieurs réponses sont possibles (une mauvaise réponse ou une omission vous retirera 1 point)</p>
</div>
<br>
<br>
<section class="questions center-align">
    <form action="{{ path('traitement_qcm')}}" method="post"> 
            
        {% for question in questions %}    
        <article>
            <h4>Question n° {{ loop.index }}  :  {{ question.theme}} </h4> 
            <br>       
            <div class="sujet">            
            <h5>{{ question.sujet | raw }}</h5>           
            </div>
            <br>
            
            {% for proposition in question.propositions %}
                <div class="form-group pl-5">
                    <input class="form-check-input" type="checkbox" value ="{{ question.id  }}" name="{{ proposition.id  }}"
                     >
                    <label class="form-check-label" for="{{proposition.id}}">{{proposition.choix}}</label>
                </div>                   
            <br>
            {% endfor %}         
            
        </article>      
        {% endfor %}

            <div class="form-group">            
                <button type="submit" class="btn btn-danger">Validez!</button>          
            </div> 
   
  </form>
 
</section>
{% endif %}   
{% endblock %}



