{% extends 'base.html.twig' %}

{% block body %}
        </br>
        </br></br>
    
        <div class="text-center animated rubberBand">
            <h4>{{user.username}} vous avez obtenu une note de {{note}} sur 5</h4>               
        </div>
        </br>
        {% if note < 5 %}
            <div class="text-center welcome">
            <h5>{{user.username}} voici les bonnes réponses (<div class="d-inline custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled" checked="" disabled="">
          <label class="custom-control-label" for="defaultCheckedDisabled"></label>
        </div>: Ce qu'il fallait répondre. En bleu : Ce que vous avez répondu.)</h5>               
            </div>
            </br></br>
    
            <div class="questions center-align">
            {% for question in questions %}    
            <article>
                <h4>Question n° {{ loop.index }}  :  {{ question.theme}} </h4> 
                <br>       
                <div class="sujet">            
                <h5>{{ question.sujet | raw }}</h5>           
            </div>
                <br>
                
                {% for proposition in question.propositions %}
                    <div class="custom-control custom-checkbox pl-5">
                        <input class="custom-control-input" type="checkbox"  id="defaultCheckedDisabled2" disabled {% if proposition.vrai is same as(1) %} checked="checked" {% endif %} value ="{{ question.id  }}" name="{{ proposition.id  }}">
                        
                        <label class="custom-control-label" for="defaultCheckedDisabled2" 
                        {% for key in reponses|keys %}
                            {% if proposition.id is same as(key) %} style="color:blue;"
                            {% endif %}
                        {% endfor %}>
                        {{proposition.choix}}</label>                 
                    </div>
                <br>
                {% endfor %}         
            
            </article> 
                 
            {% endfor %}
            </br></br></br></br></br> 
            </div>
        {% else %}
            <div class="text-center">
            <h4>Bravo !!!</h4>               
        </div>
        {% endif %}              
        
        {% endblock %}
             