<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--Let browser know website is optimized for mobile-->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>--> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                  
        <title>{% block title %}Qcm Prevention et Sécurité{% endblock %}</title>
        

        {% block stylesheets %}
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet" >
          <link href="/css/app.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>   
              
      <nav class="navbar sticky-top navbar-expand-lg navbar-light Regular shadow" style="background-color: #f3f4f6;;"> 
        <div class="container">        
          <img class="float-right" width="70" height="70" src="/img/logo.png" alt="samsic logo">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        
        <div class="collapse navbar-collapse" id="navbarColor01">        
          <ul class="navbar-nav ml-auto">      
      
            {% if not app.user %}
            
              <li class="nav-item ">
                <a class="nav-link" href="{{ path('home')}}">Accueil<span class="sr-only">(current)</span></a>
              </li>  
              <li class="nav-item ">
                <a class="nav-link" href="{{ path('security_login')}}">connexion<span class="sr-only">(current)</span></a>
              </li>  
            {% else %}
              {% if is_granted('ROLE_ADMIN') %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_homepage')}}">Espace admin</a>
                  </li>
              {% endif %}
              <li class="nav-item ">
                <a class="nav-link" href="{{ path('qcm')}}">QCM<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{{ path('security_logout')}}">Deconnexion<span class="sr-only">(current)</span></a>
              </li>
            {% endif %} 
          </ul>      
        </div>
        </div>
      </nav>
      <div class="banner">        
        <img  class="banner-image" src="/img/redBanner.png"  alt="banniere">        
      </div>
      
        <div class="container">
          {% block body %}{% endblock %}
        </div>

        <div class="footer">
          <div class="inner-footer">
            <div class="footer-items">
              <a href="">Mentions legales</a>
            </div>
            <div class="footer-items">
              <a href="">Qui sommes nous</a>
            </div>
            <div class="footer-items">
              <a href="">Copyright</a>
            </div>
          </div>
        </div>
    
    
        {% block javascripts %}
        <script src="/js/cookiechoices.js"></script>
        <script>document.addEventListener 
('DOMContentLoaded', function(event) { cookieChoices.showCookieConsentBar 
('Ce site utilise des cookies pour vous offrir le meilleur service. En 
poursuivant votre navigation, vous acceptez l\’utilisation des cookies.',
'J\’accepte', 'En savoir plus', 'http://www.votre-site.com/page-mentions-legales/'); });
</script>          
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          
        {% endblock %}
    </body>
</html>

